# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# Obsidian config
.obsidian/
_notes/안녕하세요.md
_notes/.DS_Store
*.md
